---
const { id } = Astro.params;

const articleResponse = await fetch(
  `https://api.spaceflightnewsapi.net/v3/articles/${id}`
);

const articleData = await articleResponse.json();
---

<div class="wrapper">
  <h1>{articleData.title}</h1>
  <p>{articleData.newsSite}</p>
  <div class="content">
    <img src={articleData.imageUrl} class="img" />
    <div class="summary-container">
      <p>{articleData.summary}</p>
    </div>
  </div>
</div>
<style>
  @inject "tokencss:base";
  .wrapper {
    margin: 3rem;
    color: gray.8;
  }

  h1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: gray.8;
  }

  .img {
    width: auto;
    height: auto;
  }

  .summary-container {
    padding: 1.5rem;
    margin-top: 1.5rem;
    background-color: gray.2;
    size: xl;
  }

  p {
    margin-top: 1rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
</style>
