---
const { article, articleType } = Astro.props;
---

<div class="card">
  <a href={`/${articleType}/${article.id}`}>
    <img src={article.imageUrl} class="img" />
  </a>
  <h2>{article.title}</h2>
  <p>{article.summary}</p>
</div>
<style>
  @inject "tokencss:base";
  .card {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .img {
    display: block;
    width: 100%;
    height: auto;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: gray.8;
  }

  p {
    color: gray.7;
  }
</style>
